.movie-poster {
    perspective: 1000px;
}

.movie-poster__inner {
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.movie-poster:hover .movie-poster__inner {
    @media (min-width: 768px) {
        transform: rotateY(180deg);
    }
}

.movie-poster__front,
.movie-poster__back {
    position: absolute;
    backface-visibility: hidden;
}

.movie-poster__front {
    color: black;
}

.movie-poster__back {
    transform: rotateY(180deg);
}
